<table ng-if="viewMode==1" class="table table-striped table-bordered table-condensed index-center">
    <thead>
    <tr>
        <th>有效合并</th>
        <th colspan="2">数据集字段名</th>
        <th>整合结果预览</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        <% for(var i= 0,ii=data.columns.length , column; i<ii; i++){column = data.columns[i]; %>
            <% if(column._prev)continue; %>
            <tr>

                <td class="<%=column._class%>">
                    <% if(!column._merge && !column._rule){ %>
                        <input type="checkbox" name="availability" data-index="<%=i%>" title="是否有效合并" <%=column._availability ? 'checked' : ''%>/>
                    <% } %>
                </td>

                <td class="<%=column._class%>" colspan="<%=column._colspan == 2 ? 1 : 2%>">

                    <% if(column._merge){ %>
                        <input type="checkbox" name="value" title="选择将会将此值合并" <%=column._chk ? 'checked' : ''%> data-index="<%=i%>" data-type="<%=column._dbName%>"/>
                    <% } %>

                    <%=data.getName(column)%>

                    <% if(column.mergeKeys && column.mergeKeys.length){ %>

                        <select <%= !column._availability ? 'disabled' : '' %> data-index="<%=i%>" data-type="<%=column._dbName%>">
                            <option value="">--</option>
                            <% if(column._availability){ %>
                                <% for(var s = 0,ss = column.mergeKeys.length,merge; s < ss; s ++ ){merge = column.mergeKeys[s]; %>
                                    <option value="<%=s%>"><%=merge.columnDesc%></option>
                                <% } %>
                            <% } %>
                        </select>

                    <% } %>

                </td>

                <% if(column._colspan == 2){ %>
                    <td class="<%=column._class%>">
                        <% if(column._merge){ %>
                            <input type="checkbox" name="value" title="选择将会将此值合并" <%=column._merge._chk ? 'checked' : ''%> data-index="<%=i + 1%>" data-type="<%=column._dbName%>"/>
                        <% } %>
                        <%=data.getName(column , true)%>
                    </td>
                <% } %>

                <td class="<%=column._class%>"><%= data.getVal(column , column._merge , 0) %></td>
                <td class="<%=column._class%>">
                    <% if(column._merge){ %>
                        <a href="javascript:" title="取消此合并" name="cancel" data-index="<%=i%>">cancel</a>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>